<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.turbo.build.contribution"
            objectClass="org.eclipse.core.resources.IResource">
        <menu
               label="Optimize Build Path"
               path="additions"
               id="turbo.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="Recovery"
               class="com.turbo.build.popup.actions.RecoverBuildPathAction"
               menubarPath="turbo.menu/group"
               enablesFor="1"
               id="com.turbo.build.recovery">
         </action>
         <action
               label="Resolve Conflict(JarCombining)"
               class="com.turbo.build.popup.actions.ResolveConflictCombineAction"
               menubarPath="turbo.menu/group"
               enablesFor="1"
               id="com.turbo.build.resolve3">
         </action>
         <action
               label="Resolve Conflict(JarRefactoring)"
               class="com.turbo.build.popup.actions.ResolveConflictRefactorAction"
               menubarPath="turbo.menu/group"
               enablesFor="1"
               id="com.turbo.build.resolve2">
         </action>
         <action
               label="Resolve Conflict(Simple)"
               class="com.turbo.build.popup.actions.ResolveConflictSimpleAction"
               menubarPath="turbo.menu/group"
               enablesFor="1"
               id="com.turbo.build.resolve1">
         </action>
         <action
               label="Check Conflict"
               class="com.turbo.build.popup.actions.CheckConflictAction"
               menubarPath="turbo.menu/group"
               enablesFor="1"
               id="com.turbo.build.check">
         </action>
         <action
               label="Diagnose"
               class="com.turbo.build.popup.actions.CheckConflictAction"
               menubarPath="turbo.menu/group"
               enablesFor="1"
               id="com.turbo.build.check">
         </action>
      </objectContribution>
   </extension>

</plugin>
